.loading-list {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulse {
    0% {
        opacity: 0;
        color: #999;
    }
    50% {
        opacity: 0.8;
        color: #333;
    }
    100% {
        opacity: 1;
        color: cornflowerblue;
    }
}