@charset "UTF-8";
/* base
============================== */
/* 1.1 normalize
------------------------------ */
html, body {
  height: 100%;
  -webkit-text-size-adjust: none;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

i {
  font-style: normal;
}

img {
  max-width: 100%;
}

.clearfix::after {
  display: table;
  content: " ";
  clear: both;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.3s ease;
}
*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.3s ease;
}

html {
  height: 100%;
}

body {
  height: 100%;
  -webkit-text-size-adjust: none;
  background-color: #f8f8f8;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  color: #000;
}
a[target=_blank]:not([class])::after {
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: 0.1em;
  content: "\f08e";
}
a.link--question[target=_blank]::after {
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: 0.1em;
  content: "\f059";
  vertical-align: text-bottom;
  margin-left: 5px;
  opacity: 0.5;
}

::selection, ::-moz-selection {
  background: #333;
  color: #f8f8f8;
}

i {
  font-style: normal;
}

/* component
============================== */
/* text style
------------------------------ */
.page-tit {
  color: inherit;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.06em;
  margin: 0 0 1em;
}

.mypage--section-tit {
  color: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.06em;
  margin: 0 0 1em;
}

.block-tit {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin: 0 0 1em;
}

.txt--lead {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.06em;
  margin: 0 0 1em;
}

.txt--basic {
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  margin: 0 0 1em;
}

.txt--sub {
  color: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.form--confirm .txt--link.txt--sub {
  display: block;
  font-size: 11px;
  text-decoration: underline;
  margin-top: 6px;
}

.tit--menu {
  color: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin: 0 0 0.7em;
  opacity: 0.5;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.red {
  color: #c00;
}

.mypage--tradeBox {
  padding: 40px;
  background: #FFF;
  margin: 60px 0;
}
.mypage--tradeBox .tit {
  text-align: center;
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 14px;
}
.mypage--tradeBox .txt {
  font-size: 12px;
  line-height: 1.5em;
  color: #dd0000;
}
.mypage--tradeBox .btn {
  margin: 2em auto 0;
  width: 100%;
}

@media (max-width: 960px) {
  .mypage--tradeBox {
    padding: 20px;
    margin: 40px 0;
  }
}
@media (max-width: 960px) {
  .mypage--tradeBox .tit {
    font-size: 16px;
  }
}
.btn.btnFlowing {
  line-height: 0;
}
.btn.btnFlowing a {
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  border: none;
  border-radius: 0.3em;
  overflow: hidden;
}
.btn.btnFlowing a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 0.3em;
  box-sizing: border-box;
}

.mypage--tradeBox .btn.btnFlowing a {
  min-width: calc((100% + 80px) * 0.75);
}

.btn {
  text-align: center;
  margin: 1em 0;
}
.btn.btnFlowing a:hover {
  color: #FFF;
}
.btn.btnFlowing a:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #333;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  border-radius: 4px;
}
.btn.btnFlowing a:hover:before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* btn-style
------------------------------ */
*:not(.btn) + .btn {
  margin-top: 2em;
}

.btn--main {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  min-width: 75%;
  text-align: center;
  text-decoration: none;
  line-height: 3.4;
  border-radius: 0.3em;
  padding: 0 1.5em;
  cursor: pointer;
  background: #333;
  color: #f8f8f8;
  border: none;
}
.btn--main:hover {
  color: #fff;
  background: #000;
}

@media (max-width: 960px) {
  .btn--main {
    min-width: 100%;
  }
}
.btn--sub {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  min-width: 75%;
  text-align: center;
  text-decoration: none;
  line-height: 3.4;
  border-radius: 0.3em;
  padding: 0 1.5em;
  cursor: pointer;
  background: transparent;
  color: #333;
  border: 1px solid;
}
.btn--sub:hover {
  color: #000;
}

@media (max-width: 960px) {
  .btn--sub {
    min-width: 100%;
  }
}
.btn--birthday {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.6;
  max-width: 75%;
  padding: 1em;
  margin: 0 auto 1.5em;
}
.btn--birthday i {
  padding-right: 4px;
}

.detail__btn {
  text-align: center;
}
.detail__btn a {
  position: relative;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  min-width: 75%;
  text-align: center;
  text-decoration: none;
  line-height: 3.4;
  border-radius: 0.3em;
  padding: 0 1.5em;
  cursor: pointer;
}
.detail__btn a::after {
  font-weight: normal;
  content: "SITE TOP";
  letter-spacing: 0.05em;
}
.detail__btn a::before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid #000000;
  border-top: none;
  border-right: none;
  margin: 0 5px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: 1px;
}
.detail__btn a:hover {
  opacity: 0.5;
}

@media (max-width: 960px) {
  .detail__btn a {
    min-width: 100%;
  }
}
.btn--chevron {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  color: #333;
  position: relative;
}
.btn--chevron::after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid #b5b5b5;
  border-top: none;
  border-right: none;
  position: absolute;
  right: -0.5em;
  top: 50%;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border-color: #333;
  margin: -0.25em 0 0;
}
.btn--chevron:hover {
  color: #000;
}
.btn--chevron:hover::after {
  border-color: #000;
}

.btn--chevron-left {
  opacity: 0.5;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  color: #333;
  position: relative;
}
.btn--chevron-left::after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid #b5b5b5;
  border-top: none;
  border-right: none;
  position: absolute;
  right: auto;
  top: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: #333;
  left: -1em;
  margin: -0.25em 0 0;
}
.btn--chevron-left:hover {
  color: #000;
}
.btn--chevron-left:hover::after {
  border-color: #000;
}

/* form
------------------------------ */
.form--post {
  margin: 0 auto 2em auto;
}
.form--post dt {
  margin: 2em 0 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
}
.form--post dd {
  margin: 0 0 1em;
}
.form--post dt.statusConfirm {
  margin: 2em 0 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
}

.form--confirm {
  transition: none;
  margin: 0 auto 2em auto;
  padding: 1em 5% 1em 5%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
.form--confirm * {
  transition: none;
}
.form--confirm dt {
  margin: 2em 0 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
}
.form--confirm dt:first-of-type {
  margin-top: 0;
}
.form--confirm dd:not(:last-of-type) {
  margin: 0 0 0.5em;
}

.form--confirm__normal {
  margin: 1em auto;
}
.form--confirm__normal dt {
  opacity: 1;
  font-size: 16px;
}

/* placeholder */
::-webkit-input-placeholder {
  color: #aaa;
  font-size: 14px;
  line-height: 1.75;
}

::-moz-placeholder {
  color: #aaa;
  opacity: 1;
  font-size: 14px;
  line-height: 1.75;
}

:-ms-input-placeholder, :-moz-placeholder {
  color: #aaa;
  font-size: 14px;
  line-height: 1.75;
}

/* autofill */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* spinbutton */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=text], input[type=tel], input[type=email], input[type=password], input[type=number] {
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.06em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  background: #fff;
  box-shadow: none;
  border-radius: 0.3em;
  border: 1px solid #b5b5b5;
  padding: 0.5em;
}
input[type=text].form__error, input[type=tel].form__error, input[type=email].form__error, input[type=password].form__error, input[type=number].form__error {
  background: #fff0ea;
  color: #f33;
  border-color: #f33;
}
input[type=text].form__error:focus, input[type=tel].form__error:focus, input[type=email].form__error:focus, input[type=password].form__error:focus, input[type=number].form__error:focus {
  background: transparent;
  color: inherit;
  border-color: inherit;
}
input[type=text][disabled], input[type=tel][disabled], input[type=email][disabled], input[type=password][disabled], input[type=number][disabled] {
  background: #ddd;
  color: #000;
  border: none;
  opacity: 0.5;
}

/* input */
.input--half {
  width: 50% !important;
}

.input--quarter {
  width: 25% !important;
}

/* textarea */
textarea {
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.06em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  background: #fff;
  box-shadow: none;
  border-radius: 0.3em;
  border: 1px solid #b5b5b5;
  padding: 0.5em;
  height: 10em;
}
textarea.form__error {
  background: #fff0ea;
  color: #f33;
  border-color: #f33;
}
textarea.form__error:focus {
  background: transparent;
  color: inherit;
  border-color: inherit;
}
textarea[disabled] {
  background: #ddd;
  color: #000;
  border: none;
  opacity: 0.5;
}

/* select */
.form__select {
  display: inline-block;
  position: relative;
}
.form__select select {
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.06em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  background: #fff;
  box-shadow: none;
  border-radius: 0.3em;
  border: 1px solid #b5b5b5;
  padding: 0.5em;
  padding-right: 1.5em;
}
.form__select select.form__error {
  background: #fff0ea;
  color: #f33;
  border-color: #f33;
}
.form__select select.form__error:focus {
  background: transparent;
  color: inherit;
  border-color: inherit;
}
.form__select select[disabled] {
  background: #ddd;
  color: #000;
  border: none;
  opacity: 0.5;
}
.form__select::after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid #b5b5b5;
  border-top: none;
  border-right: none;
  margin: -0.25em 0 0;
  position: absolute;
  right: 0.75em;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* checkbox */
.form__checkbox label {
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.06em;
  display: block;
  padding: 0.5em;
  position: relative;
  cursor: pointer;
}
.form__checkbox input[type=checkbox], .form__checkbox input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.form__checkbox.form__error {
  color: #f33;
}
.form__checkbox label {
  padding-left: 1.6em;
}
.form__checkbox label p::before {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.3em;
  border: 1px solid #ddd;
  margin: -0.6em 0 0;
  position: absolute;
  left: 0;
  top: 50%;
}
.form__checkbox label p::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.4em;
  border: 2px solid #f8f8f8;
  border-top: none;
  border-right: none;
  margin: -0.25em 0 0;
  position: absolute;
  left: 0.2em;
  top: 70%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}
.form__checkbox :checked ~ p::before {
  background: #333;
  border-color: #333;
}
.form__checkbox :checked ~ p::after {
  top: 50%;
  opacity: 1;
}

/* radio */
.form__radio label {
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.06em;
  display: block;
  padding: 0.5em;
  position: relative;
  cursor: pointer;
}
.form__radio input[type=checkbox], .form__radio input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.form__radio.form__error {
  color: #f33;
}
.form__radio label {
  padding-left: 1.6em;
}
.form__radio label::before {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin: -0.6em 0 0;
  position: absolute;
  left: 0;
  top: 50%;
}
.form__radio .checked::before {
  border-color: #333;
  border-width: 0.3em;
}

/* toggle button */
.form__toggle label {
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.06em;
  display: block;
  padding: 0.5em;
  position: relative;
  cursor: pointer;
}
.form__toggle input[type=checkbox], .form__toggle input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.form__toggle.form__error {
  color: #f33;
}
.form__toggle label {
  padding-left: 0;
  position: relative;
}
.form__toggle label::before, .form__toggle label::after {
  content: "";
  display: block;
  height: 30px;
  margin: -15px 0 0;
  position: absolute;
  border: 1px solid #ddd;
}
.form__toggle label::before {
  width: 50px;
  border-radius: 15px;
  right: 0;
  top: 50%;
}
.form__toggle label::after {
  width: 30px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 20px;
  top: 50%;
}
.form__toggle .checked::before {
  background: #2ecc71;
  border-color: #2ecc71;
}
.form__toggle .checked::after {
  right: 0;
}
.form__toggle .txt--sub {
  margin: 5px 0 0;
}

/* horizontal */
.form--horizontal {
  font-size: 0;
}
.form--horizontal li {
  display: inline-block;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
}
.form--horizontal li.input--half {
  width: 49% !important;
}
.form--horizontal li.input--half:first-of-type {
  margin-right: 2%;
}
.form--horizontal label {
  margin: 0 0.3em 0 0;
}

/* login */
.form--login {
  display: block;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  padding: 1em 0;
  position: relative;
}
.form--login input[type=text] {
  border-radius: 0.3em 0.3em 0 0;
}
.form--login dd {
  position: relative;
}
.form--login dd:nth-of-type(2) input {
  border-top: none;
  border-radius: 0 0 0.3em 0.3em;
}
.form--login dd:not(:nth-of-type(2)).visible input[type=text] {
  border-radius: 0.3em;
}
.form--login dd .show-pw {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section--login .form--post dd {
  position: relative;
}
.section--login .form--post .show-pw {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* list
------------------------------ */
.list--attention {
  margin: 1em 0;
  font-size: 12px;
}
.list--attention li {
  padding: 0 0 0 1em;
  text-indent: -0.5em;
  line-height: 1.4;
}
.list--attention li:not(:last-child) {
  margin-bottom: 0.5em;
}
.list--attention li:before {
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: 0.1em;
  content: "\f111";
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

/* menu */
.list--menu {
  background: #fff;
  border: 0.5px solid #b5b5b5;
  border-left: none;
  border-right: none;
  padding: 0 0 0 5%;
  margin: 0 -5.5% 2em -5.5%;
}
.list--menu * {
  transition: none;
}
.list--menu li {
  padding-right: 5%;
  position: relative;
  transition: all 0.3s ease;
}
.list--menu li:not(:last-child) {
  border-bottom: 0.5px solid #b5b5b5;
}
.list--menu li.list--menu__period {
  padding: 1.2em 5% 1.2em 0;
}
.list--menu li.list--menu__period strong {
  display: block;
}
.list--menu li a:hover {
  color: #000;
}
.list--menu li a:hover::after {
  border-color: #000;
}
.list--menu span {
  width: 35%;
  display: block;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  padding: 1em 0;
  position: relative;
}
.list--menu.mypage__alignment input[type=submit] {
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.list--menu.mypage__alignment li {
  position: relative;
}
.list--menu.mypage__alignment li label {
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  right: 5%;
  z-index: 0;
}
.list--menu a,
.list--menu input[type=submit] {
  display: block;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  padding: 1em 0;
  position: relative;
  padding-right: 2em;
}
.list--menu a::after,
.list--menu input[type=submit]::after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid #b5b5b5;
  border-top: none;
  border-right: none;
  margin: -0.25em 0 0;
  position: absolute;
  right: 0.25em;
  top: 50%;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.list--menu label {
  display: block;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
  padding: 1em 0;
  position: relative;
  padding-right: 60px;
}
.list--menu .menu__status {
  width: 190%;
  color: inherit;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.05em;
  line-height: 1.2;
  padding: 0;
  position: absolute;
  right: -190%;
  top: 50%;
  text-align: right;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.list--menu .menu__status--before {
  opacity: 0.5;
}
.list--menu.card img {
  width: 12%;
  padding-top: 4px;
}
.list--menu.conv {
  padding-top: 10px;
  padding-bottom: 5px;
}
.list--menu.conv img {
  height: 30px;
  padding-right: 5px;
}
.list--menu.conv img:last-child {
  padding-right: 0;
}
.list--menu.conv img.list--menu__familymart {
  height: 36px;
}

.mypage__alignment .txt {
  margin-bottom: 1.5em;
}
.mypage__alignment li label strong {
  font-weight: normal;
  font-size: 0.7em;
  background: #f3f3f3;
  padding: 0.3em 0.5em;
  color: #999;
  border-radius: 3px;
  letter-spacing: 0.2em;
}
.mypage__alignment li label.checked strong {
  background: #c22;
  color: #fff;
}

@media (max-width: 960px) {
  .list--menu.conv {
    padding-bottom: 10px;
  }
  .list--menu.conv img {
    height: 21px;
    height: 6.8vw;
    padding-right: 1px;
    padding-right: 0.4vw;
  }
  .list--menu.conv img:last-child {
    padding-right: 0;
  }
  .list--menu.conv img.list--menu__familymart {
    height: 28px;
    height: 8.8vw;
  }
}
/* payment */
.section--payment .block:first-of-type > .block-tit {
  margin-top: 45px;
}

.list--payment {
  background: #fff;
  border: 0.5px solid #b5b5b5;
  border-left: none;
  border-right: none;
  padding: 0 0 0 5%;
  margin: 0 -5.5% 2em -5.5%;
}
.list--payment * {
  transition: none;
}
.list--payment li {
  position: relative;
}
.list--payment li::after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid #b5b5b5;
  border-top: none;
  border-right: none;
  margin: -0.25em 0 0;
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.list--payment li:not(:last-child) {
  border-bottom: 0.5px solid #b5b5b5;
}
.list--payment li label:hover {
  color: #000;
}
.list--payment li:hover::after {
  border-color: #000;
}
.list--payment li.disabled {
  padding: 1em 6% 1em 0;
  color: #b5b5b5;
}
.list--payment li.disabled:hover {
  color: #b5b5b5;
}
.list--payment li.disabled:hover::after {
  border-color: #b5b5b5;
}
.list--payment li.disabled::after {
  display: none;
}
.list--payment li.item--other-trigger {
  border-bottom: none;
}
.list--payment li.item--other-trigger::after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid #b5b5b5;
  border-top: none;
  border-right: none;
  margin: -0.25em 0 0;
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.list--payment li .list--payment__tit {
  font-size: 18px;
}
.list--payment li .list--payment__price {
  display: block;
  font-weight: bold;
  padding-top: 0.8em;
}
.list--payment li a, .list--payment li label {
  display: block;
  padding: 1em 6% 1em 0;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.list--payment li input {
  display: none;
}
.list--payment li .txt--sub {
  margin-top: 0.5em;
}
.list--payment .list--payment__spmode {
  padding: 1em 1% 1em 0;
}
.list--payment .list--payment__spmode::after {
  display: none;
}
.list--payment .list--payment__spmode .block--spmode {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.list--payment .list--payment__spmode .block--spmode .txt--sub {
  margin: 1em 0 0.5em;
}
.list--payment .list--payment__spmode .send-mail {
  width: 75%;
  word-break: break-all;
}
.list--payment .list--payment__spmode .qrcode {
  width: 100px;
}
.list--payment .list--payment__spmode input {
  display: block;
}
.list--payment .list--payment__spmode input[type=text] {
  float: left;
  width: 70%;
}
.list--payment .list--payment__spmode input[type=submit] {
  display: block;
  background: #333;
  color: #f8f8f8;
  -webkit-appearance: none;
  border: none;
  line-height: 43px;
  padding: 0 20px;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.list--payment .list--payment__spmode input[type=submit]:hover {
  color: #fff;
  background: #000;
}
.list--payment .list--payment__spmode .btn {
  display: inline-block;
  position: relative;
  margin: 0;
}

/*  notes */
.list--notes {
  margin: 0 0 2em;
  padding: 0 0 0 1em;
  font-size: 11px;
  color: #757575;
}
.list--notes li {
  text-indent: -1em;
}
.list--notes li:not(:last-child) {
  margin-bottom: 10px;
}
.list--notes li:before {
  content: "※";
}

.list--steps {
  font-size: 12px;
}
.list--steps li {
  margin: 0 0 0 1.25em;
  line-height: 1.4;
  list-style: decimal;
}
.list--steps li:not(:last-child) {
  margin-bottom: 0.5em;
}

/* block
------------------------------ */
.block {
  padding-bottom: 2em;
}

.block--error {
  background: #fff0ea;
  color: #f33;
  border: 1px solid #F32;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 1em;
  margin: 1.5em auto;
}
.block--error * + ul {
  padding: 1em 0 0 1em;
}
.block--error ul {
  padding: 0 0 0 1em;
}
.block--error ul li {
  font-size: 13px;
  text-indent: -0.5em;
}
.block--error ul li:not(:last-child) {
  margin-bottom: 0.5em;
}
.block--error ul li:before {
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: 0.1em;
  content: "\f111";
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

/* loading
------------------------------ */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 99;
}
.loading span {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  display: block;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.5em 0 0 -2.5em;
  text-indent: -9999em;
  border-top: 0.75em solid rgba(0, 0, 0, 0.15);
  border-right: 0.75em solid rgba(0, 0, 0, 0.15);
  border-bottom: 0.75em solid rgba(0, 0, 0, 0.15);
  border-left: 0.75em solid #222;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loading 1.1s infinite linear;
  animation: loading 1.1s infinite linear;
}
.loading span:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* header
------------------------------ */
header {
  padding: 3em 5% 0;
  text-align: center;
}
header h1 {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.06em;
  width: 180px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  header {
    padding: 1.5em 5% 0;
  }
}
/* footer
------------------------------ */
footer {
  color: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5em 5% 1.5em 5%;
  text-align: center;
  color: #757575;
}
footer .txt--sub {
  margin: 0 0 1em;
}

/* pagenation
------------------------------ */
.wrap {
  position: relative;
  min-height: 100%;
  padding: 0 0 72px;
}

section {
  max-width: 600px;
  padding: 2em 5% 3em 5%;
  margin: 0 auto 0 auto;
}

.section--login .txt--sub {
  line-height: 2em;
}

.txt--separator {
  display: flex;
  align-items: center;
  margin: 4em 0 2.5em;
  color: #757575;
}
.txt--separator:before, .txt--separator:after {
  border-top: 1px solid #b5b5b5;
  content: "";
  flex-grow: 1;
}
.txt--separator:before {
  margin-right: 1em;
}
.txt--separator:after {
  margin-left: 1em;
}

/* page
============================== */
.page--password .form--login dd:first-of-type input {
  border-radius: 0.3em 0.3em 0 0;
}

.page--profile .form--post dd.item--readonly .form__select select, .page--profile .form--post dd.item--readonly input[type=text] {
  padding: 0;
  border: none;
  pointer-events: none;
  background: none;
}
.page--profile .form--post dd.item--readonly .form__select::after {
  display: none;
}

@media screen and (min-width: 640px) {
  .sp {
    display: none;
  }
  .list--menu, .list--payment {
    margin: 0 auto 2em auto;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  }
  .list--menu span, .list--payment span {
    width: 29%;
  }
  .list--menu .menu__status, .list--payment .menu__status {
    width: 260%;
    right: -250%;
  }
  .list--menu .list--payment__price, .list--payment .list--payment__price {
    width: 100%;
  }
  .show-pw:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
/* アプリ用マイページ
============================== */
#mypage--app .wrap {
  padding-bottom: 0;
}
#mypage--app section {
  padding-top: 0;
}
#mypage--app .area--user-status {
  padding: 30px 4%;
  margin: 0 -5.5% 40px;
  color: #fff;
  position: relative;
  text-align: center;
  /* PAY用のアニメーション */
}
#mypage--app .area--user-status.status--member {
  background: #22759e;
}
#mypage--app .area--user-status.status--free {
  background: #868686;
}
#mypage--app .area--user-status > * {
  position: relative;
}
#mypage--app .area--user-status .name {
  font-size: 20px;
  font-weight: bold;
}
#mypage--app .area--user-status .name span {
  display: block;
  margin-top: 4px;
  font-weight: normal;
  font-size: 19px;
  letter-spacing: 0.05em;
  opacity: 0.5;
}
#mypage--app .area--user-status .txt {
  opacity: 0.6;
  font-size: 15px;
}
#mypage--app .area--user-status .txt span {
  display: block;
  font-size: 12px;
  margin-top: 4px;
}
#mypage--app .area--user-status .ph--qr {
  margin: 20px 0 12px;
}
#mypage--app .area--user-status .ph--qr a {
  line-height: 0;
  display: inline-block;
}
#mypage--app .area--user-status .ph--qr canvas {
  margin: 0 auto;
  border: 12px solid #fff;
  outline: solid 3px #000000;
}
#mypage--app .area--user-status .btn--pay {
  padding: 0;
}
#mypage--app .area--user-status .btn--pay a {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  padding: 0 30px;
  line-height: 38px;
  font-weight: normal;
  font-size: 13px;
  border-radius: 100px;
  min-width: unset;
  color: #fff;
}
#mypage--app .area--user-status .btn--pay a::after {
  position: relative;
  right: -9px;
  top: -1px;
  border-width: 1px;
  border-color: #fff;
}
#mypage--app .area--user-status.hasQR::before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  background-size: 200% 200%;
  -webkit-animation: movingGrad 2.5s linear infinite;
  animation: movingGrad 2.5s linear infinite;
}
#mypage--app .block--expiration {
  margin: 0 0 40px;
}
#mypage--app .block--expiration .btn {
  margin-top: 0;
}
#mypage--app .block--expiration .btn--main {
  background: #333;
  color: #fff;
}
#mypage--app .list--menu a::after {
  border-width: 1px;
}
#mypage--app .list--menu a span {
  padding: 0;
}
#mypage--app .list--menu a span .menu__status {
  font-size: 12px;
  font-weight: normal;
  opacity: 0.5;
}
#mypage--app .list--menu span em {
  font-size: 11px;
  display: block;
  font-style: unset;
  margin-top: 3px;
  opacity: 0.5;
}

@-webkit-keyframes movingGrad {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
@keyframes movingGrad {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* reCAPTCHA
============================== */
.grecaptcha-badge {
  z-index: 9999;
}

.login__acdn {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.login__acdn .acdn_toggle {
  display: none;
}
.login__acdn .Label,
.login__acdn .acdn__list {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.3s;
  display: block;
}
.login__acdn .Label {
  padding: 1.2em 0;
  border: solid 1px;
  border-radius: 0.3em;
  width: 100%;
  margin: 0 auto;
  width: 75%;
  position: relative;
  top: 0;
  cursor: pointer;
}
@media screen and (min-width: 961px) {
  .login__acdn .Label:hover {
    background: #000;
    color: #fff;
  }
}
.login__acdn .acdn__list {
  height: 0;
  margin-bottom: 10px;
  position: relative;
  top: -5em;
  overflow: hidden;
  text-align: left;
}
.login__acdn .acdn__list .acdn_cap {
  text-align: center;
  margin: 0 0 1.5em;
  font-size: 1.1em;
}
.login__acdn .acdn__list .acdn_cap .txt--sub {
  margin-top: -0.5em;
}
.login__acdn .acdn_toggle:checked + .Label + .acdn__list {
  height: auto;
  top: 0;
}
.login__acdn .acdn_toggle:checked + .Label + .acdn__list a {
  transition: 0.3s;
}
.login__acdn .acdn_toggle:checked + .Label {
  top: -3.5em;
  padding: 0;
  height: 0;
}

@media screen and (max-width: 767px) {
  .login__acdn {
    overflow: visible;
  }
  .login__acdn .Label {
    width: 100%;
  }
  .login__acdn .acdn_toggle:checked + .Label + .acdn__list {
    overflow: visible;
  }
  .login__acdn .acdn_toggle:checked + .Label {
    opacity: 0;
    pointer-events: none;
  }
}